{% extends 'base.html' %}

{% load static %}

{% block title %}News{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1 class="display-6">NSE200 Index news</h1>
    </div>

    <!-- <div class="list-group container mt-2">
        {% for item in news %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.header}}</h5>
            <small>{{item.date}}</small>
          </div>
          <p class="mb-1">{{item.para}}</p>
        </a>
        {% endfor %}
      </div> -->

    <div class="container list-group mt-2 mb-2">
        {% for item in news %}
        <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{item.header}}</h5>
                <small>{{item.date}}</small>
            </div>
            <blockquote class="blockquote">
                <p class="mb-1">{{item.para}}</p>
            </blockquote>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}