{% extends 'base.html' %}

{% load static %}

{% block title %}Top Surfers{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1 class="display-6">Top Surfers</h1>
    </div>
    <div class="jumbotron">
        <table class="table table-hover table-striped table-responsive" id="table-responsive">
            <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Current</th>
                    <th scope="col">Percentage Gain</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <th scope="row">{{row.company}}</th>
                    <td>{{row.current}}</td>
                    <td>{{row.percent}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}